<table>
    <thead>
        <tr>
            <th>Title category</th>
            <th>Cake</th>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td>Cakes</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>Delicious, light and sophisticated</td>
                </tr>
                <tr>
                    <td>Cooking_time</td>
                    <td>60 min</td>
                </tr>
                <tr>
                    <td>Ingredients</td>
                    <td>Condensed milk, waffles</td>
                </tr>
                <tr>
                    <td>Number_of_servings</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Cooking_process</td>
                    <td>Cook for 15 minutes, then fry for 30 minutes.</td>
                </tr>
                <tr>
                    <td>created_at</td>
                    <td>02.12.2024</td>
                </tr>
                <tr>
                    <td><button>Oder</button></td>
                </tr>
            </tbody>
        </tr>
    </thead>
</table>

